/* work sans font from google fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shered styles*/
*{
    font-family: 'Work Sans', sans-serif;
}

 /* header section */
header{
    width: auto;
    height: 120px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
}

.logo{
    display: flex;
   align-items: center;
   gap: 20px;
}
.img-icon{
    width: 86.041px;
    height: 40px;
    margin-left: 240px;
    margin-top: 44px;
    margin-bottom: 46px;
}
.img-title{
    color: #FF42A5;
    text-align: center;
    margin-top: 38px;
    font-size: 45px;
    font-weight: 700;
}
.img-title .design{
    color: #0B0223;
    margin-top: 38px;
    font-size: 45px;
    font-weight: 700;
}

.nav{
    margin-left: 1280px;
    color: #3C354F;
    text-align: center;
    align-items: center;
    display:flex;
    gap: 40px;
}

.nav-img{
    width: 270px;
    height: 60px; 
    color: #3C354F; 
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap: 20px;
}
.nav-img .img1{
    width: 27px;
    height: 24px;
    margin-top : 10px;
    margin-left: 10px;
    gap: 24px;
}
.nav-img .img2{
    width: 20px;
    height: 24px;
   margin-top: 7px;
   margin-left: 10px;
}

/* banner section */
.section-container{
    display: flex;
}

.banner-content{
margin-left: 300px;
}

.banner-img{
    margin-top: 20px;
    margin-left: 900px;
}

.para1{
    color: #0B0223;
    text-align: center;
    margin-top: 140px;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 24px;
}

.para2{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin-top: 8px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 24px;
}
 ul{
    margin-top: -50px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.btn-1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 30px;
}

.btn-2{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
}

/* online game section */

.section-img{
    width: auto;
    height: 630px;
}

.text-style{
    color: #0B0223;
    text-align: right;
    margin-top: 45px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.text-style-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 45px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.text-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.img-view{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    gap: 30px;
}

/* play instantly section */

.section-play{
    margin-top: 50px;
    display: flex;
    margin-left: 750px;
    justify-content: center;
}

.para-3{
    margin-top: 300px;
    margin-left: 200px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.para-4{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para-p{
    color: #534C64;
    text-align: right;
    padding-right: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.img-2p{
    margin-top: 100px;
    margin-right: 240px;
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.little-img{
    width: 318.5px;
    height: 365.083px;
    margin-top: -300px;
    margin-left: -150px;
    border-radius: 2px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

/* img btn section */

.banner-img{
    margin-top: 200px;
    width:auto;
    height: 400px;
    margin: 200px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.img-logo-1{
    padding: 45PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-logo-2{
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    display: flex;
}

/* footer section */

footer{
    margin-top: 50PX;
    width: auto; 
    height: 500px;
    background: #0B0223;
}

footer .logo{
        color: #FFF;
        margin-top: 38px;
        font-size: 45px;
        font-weight: 700;
        padding-top: 50px;
        margin-top: 50px;
        justify-content: center;
}

footer .logo .img-title .design{
    color: #FFF;
    margin-top: 38px;
    font-size: 45px;
    font-weight: 700;
}
.para{
    width: 1250px;
    margin-left: 780px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.icon{
    width: 1250px;
    margin-top: 40px;
    margin-left: 1350px;
    display: flex;
    justify-content: space-around;
    gap: 65px;
    width: 70px;
    height: 40px;
}

.text{
    width: 1250px;
    margin-left: 800px;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    gap: 60px;
    font-size: 16px;
    font-weight: 500;
}

.copy{
    margin-left: 200px;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* media query */

/* media query for mobile */

@media screen and (max-width: 576px) {
    header, .logo, .img-icon, .img-title, .img-title .design, .nav, .nav-img, .nav-img .img1, .nav-img .img2 {
      flex-direction: column;
      margin-left: 10px;
      gap: 20px;
    }
    .section-container, .banner-content, .para1, .para2, .btn-1, .btn-2{
        flex-direction: column;
        margin-left: 10px;
    }
    .banner-img{
        grid-template-columns: 1fr;
        margin-left: 0px;
        }
    .section-img, .text-style, .text-style-1, .text-description, .img-view{
        flex-direction: column;
        margin-left: 10px;
    }
    .section-play, .para-3, .para-4, .img-2p, .little-img{
        flex-direction: column;
    }
    .banner-img, .img-logo-1, .img-logo-2{
        flex-direction: column;
    
    }
     footer .logo, footer .logo .img-title .design, .para, .icon, .text, .copy{
        flex-direction: column;
    }
}